#header
  %div
    #home-mini
      = link_to "", topics_path, method: :get, class:"glyphicon glyphicon-home"
    #home
      = link_to "_HOME", topics_path, method: :get, class:"glyphicon glyphicon-home"
      #search
        %input.to_search{ type: "text", placeholder: " Search", data_remote: "true" }
    %h3
      = image_tag("tiy.png", size: "65x65")
      IRON TOPICS
    #logout-mini
      = link_to "", destroy_user_session_path, method: :delete, class:"glyphicon glyphicon-log-out"
    #logout
      = link_to destroy_user_session_path, method: :delete do
        %span.glyphicon.glyphicon-log-out _LOGOUT

#spacer
