:javascript
  $(document).ready(function(){
  var textContainer, textareaSize, input;
  var autoSize = function () {
    textareaSize.innerHTML = input.value + '\n';
  };

  textContainer = document.querySelector('.textarea-container');
  textareaSize = textContainer.querySelector('.textarea-size');
  input = textContainer.querySelector('textarea');

  autoSize();
  input.addEventListener('input', autoSize);
  });

.comment_page
  #topics
    .topic_listing
      %div
        .thing_holder
          .thing1=topic.focus
          .thing2
            interest score
            %span= topic.score
        %p= topic.title

      .edit
        - unless topic.comment_count > 0 || topic.user_id != current_user.id
          .edit_link edit
  -# #title
  -#   %div
  -#     = @topic.title
  -#     \ :
  -#   #description=@topic.description
  -# #focus
  -#   Focus area:
  -#   = @topic.focus

  #ratings.well.well-sm
    - @topic.interests.each do |interest|
      #user_rating
        %span.name= @user.name
        %span.rating
          - if interest.rating
            - (5 - interest.rating).times do
              .glyphicon.glyphicon-ok-sign#minus_rating
            - interest.rating.times do
              .glyphicon.glyphicon-ok-sign#star_rating
          - else
            - 5.times do
              .glyphicon.glyphicon-ok-sign#minus_rating
      .comment= interest.comment
    %div
      = form_for(@interest) do |f|
        .field
          - if @rated != []
            - 5.times do
              #blank.glyphicon.glyphicon-ok-sign
          - else
            = f.hidden_field :rating, class: "rating form_control"
            %span.rating_text
              \- rate this topic?
          .textarea-container
            = f.text_area :comment, placeholder: ' type your comment here'
            .textarea-size
          = hidden_field_tag :topic_id, @topic.id
          = f.submit "Comment"
