:javascript
  var textContainer, textareaSize, input;
  var autoSize = function () {
    textareaSize.innerHTML = input.value + '\n';
  };

  textContainer = document.querySelector('.textarea-container');
  textareaSize = textContainer.querySelector('.textarea-size');
  input = textContainer.querySelector('textarea');

  autoSize();
  input.addEventListener('input', autoSize);

  $('#edit').click(function(){
  console.log("I clicked to EDIT")
  $(".modal-content").html("");
  var id = $(this).data('topic-id');
  console.log(id)
  $.ajax('/topics/' + id + '/edit', {
  method: 'GET',
  });
  });

-# TODO move from jquery to ajax request

.comment_page
  #topic
    #topics
      .topic_listing
        %div#no_pointer
          .thing_holder
            .thing1=topic.focus
            .thing2
              interest score
              %span= topic.score
          %p#no_decor= topic.title

        .edit
          - unless topic.comment_count > 0 || topic.user_id != current_user.id
            .edit_link#edit{ 'data-topic-id': "#{topic.id}" } edit
            -# .edit_link#edit= link_to "edit", edit_topic_path(topic)
    #ratings.well.well-sm
      - @topic.interests.each do |interest|
        #user_rating
          %span.name= @user.name
          %span.rating
            - if interest.rating
              - (5 - interest.rating).times do
                .glyphicon.glyphicon-ok-sign#minus_rating
              - interest.rating.times do
                .glyphicon.glyphicon-ok-sign#star_rating
            - else
              - 5.times do
                .glyphicon.glyphicon-ok-sign#minus_rating
        .comment= interest.comment
      %div
        = form_for(@interest) do |f|
          .field
            - if @rated != []
              - 5.times do
                #blank.glyphicon.glyphicon-ok-sign
            - else
              = f.hidden_field :rating, class: "rating form_control"
              %span.rating_text
                \- rate this topic?
            .textarea-container
              = f.text_area :comment, placeholder: ' type your comment here'
              .textarea-size
            = hidden_field_tag :topic_id, @topic.id
            = f.submit "Comment"
