<div id="topic_listing_<%= topic.id %>" class="topic_listing" data-topic-id='<%= topic.id %>'>
  <div data-toggle="modal" data-target=".bs-example-modal-lg">
    <div class="thing_holder">
      <div class="thing1"><%=topic.focus%></div>
      <div class="thing2"> interest score
        <span><%= topic.score %></span>
      </div>
    </div>
    <p><%= topic.title %></p>

  <div class="edit">
    <% unless topic.comment_count > 0 || topic.user_id != current_user.id %>
      <%= link_to "edit", edit_topic_path(topic), class: "edit_link" %>
    <% end %>
  </div>
</div>
</div>
