<%= render 'navbar' %>
<div id="comment_page">
  <div id="title">
    <div><%= @topic.title %> :</div>
  <div id="description"> <%= @topic.description %></div>
</div>
  <div id="focus">Focus area: <div><%= @topic.focus %></div></div>

  <div id="ratings" class="well well-sm">
  <% @topic.interests.each do |interest|%>
  <div id="user_rating">
    <% if interest.rating %>
    <% (5 - interest.rating).times do %>
      <div class="glyphicon glyphicon-ok-sign" id="minus_rating"></div>
    <% end %>
    <% interest.rating.times do %>
    <div class="glyphicon glyphicon-ok-sign" id="star_rating"></div>
    <% end %>
    <% else %>
    <% 5.times do %>
      <div class="glyphicon glyphicon-ok-sign" id="minus_rating"></div>
    <% end %>
    <% end %>
  <span><%= @user.name %></span>
  <span> said: </span>
  <span><%= interest.comment %></span>
  </div>
  <% end %>
  <div>
      <%= form_for(@interest) do |f| %>
      <div class="field">
        <% if @rated != [] %>
          <% 5.times do %>
            <div id="blank" class="glyphicon glyphicon-ok-sign"></div>
          <% end %>
          <% else %>
            <%= f.hidden_field :rating, class: "rating form_control" %>
          <% end %>
        <%= f.text_field :comment, placeholder: 'type your comment here', size: 100 %>
        <%= hidden_field_tag(:topic_id, @topic.id) %>
        <%= f.submit("Comment") %>
      </div>
    <% end %>
  </div>
  </div>
</div>
